<TableComponent OnSearchTextChanged="Data.FilteredFromText">
    <TableHeaders>
        <TableHeader Title="Title"/>
        <TableHeader Title="Description"/>
        <TableHeader Title="Status"/>
        <TableHeader Title="Type"/>
        <TableHeader Title="Assesor"/>
        <TableHeader Title="Authors"/>
        <TableHeader Title="Created At" ShowOnMobile="false"/>
    </TableHeaders>
    <TableBody>
        @if (!Data.Any())
        {
            <TableRow>
                <div class="flex items-center">
                    <p class="text-base text-black">No hay información.</p>
                </div>
            </TableRow>
        }
        else
        {
            @foreach (var item in Data)
            {
                <TableRow OnClick="() => item.GoToDetails(NavigationManager)">
                    <ChildContent>
                        <TableCell Remarkable="true">
                            <div class="flex items-center">
                                <p class="text-base text-black">@item.Title</p>
                            </div>
                        </TableCell>
                        <TableCell>
                            <div class="flex items-center">
                                <p class="text-base text-black">@item.Description</p>
                            </div>
                        </TableCell>
                        <TableCell>
                            <StatusBadge Title="@item.Status?.Name" BackgroundColor="@item.Status?.BackgroundColor" />
                        </TableCell>
                        <TableCell>
                            <TypeBadge Type="item.Type" />
                        </TableCell>
                        <TableCell>
                            <div class="flex">
                                <MemberIcon Name="@item.Assessor.FullName" />
                            </div>
                        </TableCell>
                        <TableCell>
                            <div class="flex">
                                @foreach (var author in item.Authors)
                                {
                                    <MemberIcon Name="@author.FullName" />
                                }
                            </div>
                        </TableCell>
                        <TableCell ShowOnMobile="false">
                            <span class="text-base text-gray-600">
                                Hace 2 días
                            </span>
                        </TableCell>
                    </ChildContent>
                </TableRow>
            }
        }
    </TableBody>
</TableComponent>
