@typeparam TValue

@if (Multiple)
{
    <FluentAutocomplete TOption="TValue"
                        Context="autocompleteContext"
                        @ref="_autocomplete"
                        name="@Name"
                        Required="@Required"
                        AutoComplete="off"
                        Width="100%"
                        Placeholder="@Placeholder"
                        MaximumSelectedOptions="MaximumSelectedOptions"
                        OptionStyle="min-height: 40px; min-width: 200px;"
                        @bind-SelectedOptions="SelectedValues"
                        Appearance="FluentInputAppearance.Filled"
                        OnOptionsSearch="@OnSearchOptions"
                        SelectedOptionTemplate="SelectedOptionTemplate"
                        OptionTemplate="OptionTemplate">
        <LabelTemplate>
            <label htmlFor="members" class="text-slate-800">
                @Label
            </label>
        </LabelTemplate>
        <MaximumSelectedOptionsMessage>
            @MaximumSelectedOptionsMessage
        </MaximumSelectedOptionsMessage>
        <HeaderContent>
            <FluentLabel Class="p-2 border-b-2 border-gray-100 text-blue-700">
                @OptionHeaderLabel
            </FluentLabel>
        </HeaderContent>
        <FooterContent>
            @if (!autocompleteContext.Any())
            {
                <FluentLabel Style="font-size: 11px; text-align: center; width: 200px;">
                    @NoResultsLabel
                </FluentLabel>
            }
        </FooterContent>
    </FluentAutocomplete>
}
else
{
    <div class="w-full flex flex-col gap-1">
        @if (!string.IsNullOrWhiteSpace(Label))
        {
            <label htmlFor="@Name" class="text-slate-800">
                @Label
            </label>
        }
        <div>
            <InputSelect
                TValue="TValue"
                name="@Name"
                placeholder="@Placeholder"
                @bind-Value="@Value"
                DisplayName="@Name"
                class="@CssClass"
                required="@Required">
                @ChildrenFragment
            </InputSelect>
        </div>
    </div>
}
