<article aria-label="projects-card" class="w-full max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 flex items-center justify-between">
    <div class="h-full flex flex-1 flex-col justify-between">
        <p class="text-base text-gray-600">@Title</p>
        <span class="text-2xl font-semibold">@Count</span>
        <span class="text-sm text-gray-400">@LastestTitle()</span>
    </div>
    <div class="@IconContainerClass">
      <span class="@IconClass"></span>
    </div>
</article>
